{% extends "crppindexcard/base_site.html" %}
{% load i18n admin_static %}
{% load set_context_var %}
{% load get_context_var %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "crppindexcard/css/forms.css" %}"/>{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ assessment.name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}

<div class="breadcrumbs">
    <a href="{% url 'index' %}">{{ index_card.city }}</a> &rsaquo;
    <a href="{% url 'index' %}">Organization and Competences</a> &rsaquo;
    {{index_card_competence_category.competence_category.name}}
</div>
{% endblock %}
{% endif %}


{% block content %}
<div id="content-main">


<div class="module">
    <table style="width:100%">
        <caption class="title_competences">
            <div class="section">{{ index_card.city }} &rsaquo; Organization and Competences:  &rsaquo; {{index_card_competence_category.competence_category.name}}</div>
            <div style="float:right;padding-right:18px;"></div>
        </caption>
    </table>
</div>

{% if formset %}

<form name="crppindexcardform" action="" method="post" id="{{ indexcard.username }}_form" onsubmit="enableDisabledSelects();return true;">{% csrf_token %}{% block form_top %}{% endblock %}
<div>

{{ formset.management_form }}

    <!-- to render errors div-->
        {% if formset.errors %}
        <div class="">
        <p class="errornote">
            <!-- num_errors calculat en view -->
            {% if num_errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}

            <!-- prints model errors, right style -->
            {% for dict in formset.errors %}
                {% for key, value in dict.items %}
                    {% if key == '__all__' %}
                    <li>{{ value }}</li>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        </p>


        </div>
        {% endif %}
<fieldset class="module">
<!--  to render formsetv -->

        <!-- main framework of the form -->
        <div class="form-row {% if not field.is_readonly and field.errors %} errors{% endif %} field-{{ field.name }}">
        <!--  table structure -->
         <table style="width:100%">
            <tr>
                <td width="20%">&nbsp;</td>
                <td colspan="4" align="center"><span class="helptext"><label>{{ constants.get_competences_explanation_1_label }}<br>{{ constants.get_competences_explanation_2_label }}</label></span></td>
            </tr>

            <tr>
                <td width="20%">&nbsp;</td>
                <td width="20%" align="center"><span class="required"><label>{{ constants.get_owner_responsible_label }}</label></span></td>
                <td width="20%" align="center"><span class="required"><label>{{ constants.get_operator_label }}</label></span></td>
                <td width="20%" align="center"><span class="required"><label>{{ constants.get_competences_label }}</label></span></td>
                <td width="20%" align="center"><span class="required"><label>{{ constants.get_ec_role_label }}</label></span></td>
            </tr>

             <style>
                 textarea{
                    padding: 2px 0px;
                 }
             </style>

            {% for form in formset %}
                {%comment%}
                    need to print form.id to avoid errors in post request
                    need to print index_card_competence_category field as hidden
                {%endcomment%}
                {{form.id}}
                {{form.index_card_competence_category.as_hidden}}
            <tr>
                <td width="20%"><span class="required"><label>{{ form.label_text.value }}{{ form.label_text.as_hidden }}</label></span></td>
                <td width="20%" align="center"><div>{{ form.owner.errors }}{{ form.owner }}{{ form.owner_comments.errors }}{{ form.owner_comments }}</div></td>
                <td width="20%" align="center">{{ form.operator.errors }}{{ form.operator }}{{ form.operator_comments.errors }}{{ form.operator_comments }}</td>
                <td width="20%" align="center">{{ form.competences.errors }}{{ form.competences }}{{ form.competences_comments.errors }}{{ form.competences_comments }}</td>
                <td width="20%" align="center">{{ form.role_in_ec_plan.errors }}{{ form.role_in_ec_plan }}{{ form.role_in_ec_plan_comments.errors }}{{ form.role_in_ec_plan_comments }}</td>
            </tr>
            {% endfor %}

         </table>
        </div>


</fieldset>
</div> <!-- form div -->

<div class="submit-row">
    <input class="default" type="submit" name="_save" value="Save"></input>
</div> <!-- submit row div -->

{% else %}
    <p>{% trans "Services not set for " %}{{ hazard.name }}</p>
{% endif %} <!-- end if formset -->

</div> <!-- content.main -->
{% endblock %}
<script>

</script>