{% extends "crppindexcard/base_site.html" %}
{% load i18n admin_static %}
{% load set_context_var %}
{% load get_context_var %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "crppindexcard/css/forms.css" %}"/>{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ assessment.name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}

<div class="breadcrumbs">
    <a href="{% url 'index' %}">{{ index_card.city }}</a> &rsaquo;
    <a href="{% url 'services_list' index_card_id=index_card.id hazard_id=hazard.id%}">{{ hazard.name }} </a> &rsaquo;
    {{ service.name }}
</div>
{% endblock %}
{% endif %}


{% block content %}
<div id="content-main">


<div class="module">
    <table style="width:100%">
        <caption>
            <div class="section">{{ index_card.city }} &rsaquo; Impact: {{ hazard.name }} &rsaquo; Service: {{ service.name }}</div>
            <div style="float:right;padding-right:18px;"></div>
        </caption>
    </table>
</div>


<form name="crppindexcardform" action="" method="post" id="{{ indexcard.username }}_form" onsubmit="enableDisabledSelects();return true;">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{{ formset.management_form }}
<!-- to render errors div-->
        {% if formset.errors %}
        <div class="">
        <p class="errornote">
            <!-- num_errors calculat en view -->
            {% if num_errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}

            <!-- prints model errors, right style -->
            {% for dict in formset.errors %}
                {% for key, value in dict.items %}
                    {% if key == '__all__' %}
                    <li>{{ value }}</li>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        </p>


        </div>
        {% endif %}
<fieldset class="module aligned">
<!--  to render formsetv -->
    {% for form in formset %}

        <!-- main framework of the form -->
        <div class="form-row {% if not field.is_readonly and field.errors %} errors{% endif %} field-{{ field.name }}">
        {%comment%}
            need to print form.id to avoid errors in post request
            need to print index_card_service field as hidden
        {%endcomment%}
        {{form.id}}
        {{form.index_card_service.as_hidden}}
        <!--  table structure -->
         <table>
            <tr>
                <td width="10%" align="center"><span class="required"><label>&nbsp;</label></span></td>
                <td align="center" colspan="3"><span class="required"><label>{{ constants.get_period_of_disruption_label }}</label></span></td>
                <td width="15%"><div style="padding-left:5px;padding-right:5px;"><span class="required"><label>{{ constants.get_population_served_label }}</label></span></div></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span class="required"><label>{{ service.name }}</label></span></td>
                <td width="15%" align="center"><span class="required"><label>{{ constants.get_term_8h_label }}</label></span></td>
                <td width="15%" align="center"><span class="required"><label>{{ constants.get_term_24h_label }}</label></span></td>
                <td width="15%" align="center"><span class="required"><label>{{ constants.get_term_48h_label }}</label></span></td>
                <td><div style="padding-left:5px;padding-right:5px;">{{ form.population_served.errors }}{{ form.population_served }}</div></td>
            </tr>
            <tr>
                <td width="10%"><span class="required"><label>{{ form.component_1_label.value }}{{ form.component_1_label.as_hidden }}</label></span></td>
                <td width="15%">{{form.component_1_value_1T.errors}}{{form.component_1_value_1T}}</td>
                <td width="15%">{{form.component_1_value_2T.errors}}{{form.component_1_value_2T}}</td>
                <td width="15%">{{form.component_1_value_3T.errors}}{{form.component_1_value_3T}}</td>
                <td><div style="padding-left:5px;"><span class="helptext"><label>{{ constants.get_population_affected_20_label }}</label></span></div></td>
            </tr>
            <tr>
                <td width="10%"><span class="required"><label>{{ form.component_2_label.value }}{{ form.component_2_label.as_hidden }}</label></span></td>
                <td width="15%">{{form.component_2_value_1T}}</td>
                <td width="15%">{{form.component_2_value_2T}}</td>
                <td width="15%">{{form.component_2_value_3T}}</td>
                <td><div style="padding-left:5px;"><span class="helptext"><label>{{ constants.get_population_affected_20_label }}</label></span></div></td>
            </tr>
            <tr>
                <td width="10%"><span class="required"><label>{{ form.component_3_label.value }}{{ form.component_3_label.as_hidden }}</label></span></td>
                <td width="15%">{{form.component_3_value_1T.errors}}{{form.component_3_value_1T}}</td>
                <td width="15%">{{form.component_3_value_2T.errors}}{{form.component_3_value_2T}}</td>
                <td width="15%">{{form.component_3_value_3T.errors}}{{form.component_3_value_3T}}</td>
                <td><div style="padding-left:5px;"><span class="helptext"><label>{{ constants.get_population_affected_20_label }}</label></span></div></td>
            </tr>
            <tr>
                <td width="10%"><span class="required"><label>{{ form.component_4_label.value }}{{ form.component_4_label.as_hidden }}</label></span></td>
                <td width="15%">{{form.component_4_value_1T.errors}}{{form.component_4_value_1T}}</td>
                <td width="15%">{{form.component_4_value_2T.errors}}{{form.component_4_value_2T}}</td>
                <td width="15%">{{form.component_4_value_3T.errors}}{{form.component_4_value_3T}}</td>
                <td><div style="padding-left:5px;"><span class="helptext"><label>{{ constants.get_population_affected_20_label }}</label></span></div></td>
            </tr>
            <tr>
                <td width="10%"><span class="required"><label>{{ form.component_5_label.value }}{{ form.component_5_label.as_hidden }}</label></span></td>
                <td width="15%">{{form.component_5_value_1T.errors}}{{form.component_5_value_1T}}</td>
                <td width="15%">{{form.component_5_value_2T.errors}}{{form.component_5_value_2T}}</td>
                <td width="15%">{{form.component_5_value_3T.errors}}{{form.component_5_value_3T}}</td>
                <td><div style="padding-left:5px;"><span class="helptext"><label>{{ constants.get_population_affected_20_label }}</label></span></div></td>
            </tr>
            <tr>
                <td width="10%"><span class="required"><label>{{ constants.get_mov_label }}</label></span></td>
                <td colspan="3">{{form.mov.errors}}{{form.mov}}</td>
                <td width="15%"><div style="padding-left:5px;"><span class="helptext"><label>{{ constants.get_mov_comments_hazard_label }}</label></span></div></td>
            </tr>
            <tr>
                <td width="10%"><span class="required"><label>{{ constants.get_additional_info_label }}</label></span></td>
                <td colspan="3">{{form.additional_information.errors}}{{form.additional_information}}</td>
                <td><div style="padding-left:5px;"><span class="helptext"><label>{{ constants.get_additional_info_hazards_label }}</label></span></div></td>
            </tr>

         </table>
        </div>
    {% endfor %}

</fieldset>
</div> <!-- form div -->

<div class="submit-row">
    <input class="default" type="submit" name="_save" value="Save"></input>
</div> <!-- submit row div -->

</div> <!-- content.main -->
{% endblock %}
<script>

</script>