{% extends "crppindexcard/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "crppindexcard/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">{{ index_card.city }}</a> &rsaquo;
    {{ hazard.name }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">

{% if index_card %}
    <div class="module">
        <table>
        <caption>
            <div class="section">{{ index_card.city }} &rsaquo; Hazard Impact: {{ hazard.name }}</div>
            <div style="float:right;padding-right:18px;"></div>
        </caption>
        {% for index_card_service in index_card.indexcardservice_set.all %}
            <tr class="section-{{ section.object_name|lower }}">
                <th scope="row">
                    <a href="{% url 'service_questions' index_card_id=index_card.id hazard_id=hazard.id index_card_service_id=index_card_service.id %}">{{ index_card_service.service.name }}</a>
                </th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
         {% endfor %}
        </table>
     </div>

{% else %}
    <p>{% trans "City Index Card not set for " %}{{ user.username }}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
